.idea
.cache
.temp

# npm
node_modules
npm-debug.log*
.npm

# yarn
yarn.lock
yarn-debug.log*
yarn-error.log*
# yarn v3
.yarn
.yarnrc.yml

# pnpm
pnpm-lock.yaml
pnpm-debug.log*

/dist/

# Logs
logs
*.log

# 尽量不使用 svg 图片（转 png）
docs/**/img/*.svg
!docs/**/img/*.keep.svg

.obsidian

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
