.idea
.cache
.temp

# npm
node_modules
npm-debug.log*
.npm

# yarn
yarn-debug.log*
yarn-error.log*
# yarn v3
.yarn
.yarnrc.yml

# pnpm
pnpm-debug.log*

# output
dist
packages/**/lib/

# typescript build info
*.tsbuildinfo

# Logs
logs
*.log

# 尽量不使用 svg 图片（转 png）
docs/**/img/*.svg
!docs/**/img/*.keep.svg

# for 2 files: workspace(.json)?
/**/.obsidian/workspace*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
