.idea

dist/
node_modules/

# vuepress
docs/.vuepress/.cache
docs/.vuepress/.temp
# 临时配置文件
docs/.vuepress/config.ts.*

# 忽略工作区布局文件（如 workspace, workspace.json, workspace-mobile.json 等）
/**/.obsidian/workspace*
# 忽略插件本体（只保留插件列表）
/**/.obsidian/plugins/
