:root {
    --offset-top: 2rem;
}

/* mjx-mrow[id],
mjx-mtd[id] */
.math-block {
    /* scroll-margin-top: 4rem; */
    /* padding-top: var(--offset-top); */
    /* margin-top: calc(0 - var(--offset-top)); */
}

.red {
    color: red;
}

.blue {
    color: cornflowerblue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

/* https://forum-zh.obsidian.md/t/topic/19710 避免链接一触即发 */
.cm-s-obsidian span.cm-link {
    pointer-events: none;
}

/* blue topaz 主题：避免图片默认单独成行 */
body:not(.obsidian-default-image)
    .workspace-leaf-content[data-type="markdown"]
    .view-content
    :not(.canvas-node-content)
    > img:not([class*="emoji"]) {
    display: inline-block;
}

/* graphviz 生成的 svg 图片居中 */
.block-language-graphviz.multi-graph,
.block-language-dot.multi-graph {
    text-align: center;
}
