// /* 影响首页、tag 页、category 页、timeline 页、加密页 */

:root {
    --bg-gap: 1rem;
    --bg-radius: 8px;

    @media (max-width: 959px) {
        --bg-gap: 0.4rem;
    }
}

// 正文背景
$gap: var(--bg-gap);
$radius: var(--bg-radius);
$coverHeight: var(--cover-height);

// 首页图不跟随滚动
.blog-hero.fullscreen .mask {
    background-attachment: fixed !important;
}

// 清除默认设置的背景
.theme-container .page.blog:not(p) {
    /*:not 用于增加权重 */
    background: transparent;
}

// 加上背景
@mixin bg-border {
    background: var(--bg-color-blur);
    border-radius: 0.4rem;
}

// 分页器
.pagination-wrapper:not(p) {
    margin-bottom: 1.25rem;
    @include bg-border();
}

// 文章类型
.article-type-wrapper:not(p) {
    padding: 1rem;
    @include bg-border();
}

// 给标签容器加上背景
.tag-list-wrapper {
    padding: 0.4rem;
    @include bg-border();

    // 去掉 tag 的“荧光”
    /* .tag:not(p) {
        box-shadow: none;
    } */
}

// 页脚半透明
.footer-wrapper {
    background: var(--bg-color-blur);
}

// 将 main 撑高，以调整页脚位置
.page {
    min-height: calc(
        100vh - var(--navbar-height) - 2rem /* pad bottom */ - 2rem /* footer 的 margin-top */
    );

    &.has-cover {
        min-height: calc(100vh - #{$coverHeight} - var(--navbar-height));
    }
}

.breadcrumb,
.page-title,
.theme-hope-content:not(.custom),
.page-meta {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% - #{$gap} * 2);
        height: 100%;
        background-color: var(--bg-color);
        top: 0;
        left: $gap;
        max-width: calc(var(--content-width) + 5rem);
        z-index: -1;
        pointer-events: none;
    }
}

// 顶部留白，圆角
.breadcrumb {
    margin-top: $gap;

    &::before {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
}

// 标题和正文衔接
.theme-hope-content:not(.custom) {
    &::before {
        $fix: 1rem;
        top: -$fix;
        height: calc(100% + #{$fix});
    }
}

// 正文底部圆角
.theme-hope-content:not(.custom) {
    &::before {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}

// “编辑此页”等的背景
.page-meta {
    margin: 0.5rem auto;

    &::before {
        z-index: 0;
        border-radius: $radius;
    }

    .meta-item {
        position: relative;
    }
}

// .page-nav 处理不了，改成处理其子元素
.page-nav {
    border-top: none; // 取消白线
    padding: 0 $gap 0.5rem;
    max-width: calc(var(--content-width) + #{$gap} * 2 + 1rem);

    .prev,
    .next {
        background-color: var(--bg-color);
        padding: 0.5rem;
        border-radius: $radius;
    }
}

// 底部加上圆角，修正 z 轴
.page-meta {
    position: relative;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: calc(100% - #{$gap} * 2);
    //     height: 100%;
    //     background-color: var(--bg-color);
    //     top: 0;
    //     left: 0 + $gap;
    //     max-width: calc(var(--content-width) + 5rem);
    //     // z-index: -1;
    //     border-radius: 0 0 $radius $radius;
    //     // z-index: 0;
    // }
}

// 目录
aside#toc {
    left: calc(100% + 2.5rem);
    background: var(--bg-color-blur);
    padding: 0.8rem;
    border-radius: $radius;
}

// 项目主页
.hero::before,
.features {
    background-color: var(--bg-color);
}

.hero {
    @media (max-width: 959px) {
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        max-height: 50vh;
        left: 0%;
        border-radius: $radius;

        @media (max-width: 959px) {
            top: -1rem;
            padding-bottom: 1rem;
        }
    }
}

.theme-hope-content.custom::after {
    $margin: 2rem;

    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: calc(100% + 2 * #{$margin});
    height: 100%;
    background: var(--bg-color);
    margin: 0 -$margin;
}

// 时间线
.timeline-wrapper:not(p) {
    background-color: var(--bg-color-blur);
    margin-top: 0.75rem;
    margin-bottom: 8px + 16px;
    border-radius: $radius;

    #toc {
        background: transparent;
    }
}

// 密码面板
.password-modal {
    background-color: var(--bg-color-blur);
}
