// ! 该文件不会被任何其他文件引入，需要单独编译

/* 影响首页、tag 页、category 页 */

/* 首页图不跟随滚动 */
.blog-hero.fullscreen .mask {
    background-attachment: fixed !important;
}

/* 全局背景图 */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // 如果插在所有可见元素前面（例如 body 第一个子节点），可以不设置

    background: url(https://w.wallhaven.cc/full/72/wallhaven-72rd8e.jpg) center
        center / cover no-repeat;

    pointer-events: none;
}

/* 清除默认设置的背景 */
body,
.theme-container .page.blog:not(p)/* :not 用于增加权重 */ {
    background: transparent;
}

/* .footer-wrapper {
    通过测试得到，如果设置 z-index，还需要用这个黑魔法。。
    值得注意的是，Firefox 不能很好支持该属性
    backdrop-filter: saturate(150%) blur(12px);
} */

@mixin bg-border {
    border-radius: 0.4rem;
    background: var(--bg-color-blur);
}

// 分页
.pagination-wrapper:not(p) {
    margin-bottom: 1.25rem;
    @include bg-border();
}

// 文章类型
.article-type-wrapper:not(p) {
    padding: 1rem;
    @include bg-border();
}

// 去掉 tag 的“荧光”
.tag-list-wrapper .tag:not(p) {
    box-shadow: none;
}
