:root {
    // 滚动到目标的顶部偏移距离 3.75rem + 1.05rem = 4.8rem
    --offset-top: calc(var(--navbar-height) + 1.05rem);
}

// https://github.com/vuepress/vuepress-next/issues/359
:focus:not(:focus-visible) {
    outline: 0;
}

// 代码块中的横向滚动条
pre::-webkit-scrollbar {
    height: 5px;
}

pre::-webkit-scrollbar-track {
    background-color: rgb(54, 59, 70);
}

pre::-webkit-scrollbar-thumb {
    background-color: rgb(149, 164, 167);
    border-radius: 5px;
    transition: all 1s;
    -webkit-transition: all 1s;
}

// 有用但是作用在了其他元素 https://developer.mozilla.org/zh-CN/docs/Web/CSS/scroll-margin-top
// html {scroll-padding-top: 4.5em;}
.base > span.enclosing {
    // https://stackoverflow.com/questions/4086107#26214572
    padding-top: var(--offset-top);
    margin-top: calc(0 - var(--offset-top));
}

.katex-display > .katex > .katex-html > .tag {
    overflow: hidden;
}

// 滚动到自定义上下文锚点，上边距
p > a[name] {
    padding-top: var(--offset-top);
    margin-top: calc(0 - var(--offset-top));
    visibility: hidden;
}

p > a[name]:before {
    margin-left: -1em;
    content: "m";
}

// toggle 侧边栏的过渡动画
.sidebar {
    // transition: left 0.3s;
    transition: 0.3s;
}

.page {
    // 会覆盖切换页面之间的过度动画
    // transition: padding-left 0.3s;
    transition: all 0.3s;
}

/**
    原先通过调整 left “隐藏” 侧边栏，但明显感觉到性能不太好
    https://blog.csdn.net/weixin_45689946/article/details/122167495
    transform 比 margin 性能好 50%~70%
 */
.sidebar.hide {
    // 使用 transform 代替直接 修改 left
    // left: calc(0px - var(--sidebar-width));
    -webkit-transform: translateX(calc(0px - var(--sidebar-width)));
    transform: translateX(calc(0px - var(--sidebar-width)));
}

.page.full {
    padding-left: 0;
}

// 表格对齐方式
.custom-container.center > table,
.custom-container.right > table {
    display: inline;
    margin: 1rem auto;
}

// 选中文字美化。似乎无需 ::-moz-selection
*::selection {
    color: var(--theme-color);
    /* ----theme-color 15% 透明度 */
    background-color: var(--theme-color-mask);
}

// 行内代码背景色跟随主题
code {
    background-color: var(--theme-color-mask);
}

/* https://www.jb51.net/article/220293.htm */
table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

table td,
table th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}

table thead th {
    background-color: #cce8eb;
    width: 100px;
}

table thead th span {
    font-weight: bold;
}

table tr:nth-child(odd) {
    background: #fff;
}

table tr:nth-child(even) {
    background: #f5fafa;
}

// todo 移动到其他文件

// 自定义粒子
particle {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    z-index: 999;
}

// @mr-hope/vuepress-plugin-components/lib/client/styles/back-to-top.scss
.refresh-page {
    background-color: var(--c-bg, #fff);
    border-radius: 1rem;
    border-width: 0;
    bottom: 8rem;
    box-shadow: 2px 2px 10px 0 var(--card-shadow);
    color: var(--c-brand, #3eaf7c);
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    position: fixed !important;
    right: 1rem;
    padding: 0.5rem;
    z-index: 100;

    @media screen and (max-width: 719px) {
        bottom: 7rem;
        width: 2.25rem;
        height: 2.25rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
    }
}

.sidebar,
.breadcrumb,
.page-title,
.theme-hope-content,
.blog-info-list {
    font-family: var(--font-family-fancy);
}

// 边框
iframe {
    border: 2px var(--theme-color) solid;
    border-radius: 6px;
}

// 代码高亮中的评论
.token.comment {
    font-style: normal !important;

    html[data-theme="dark"] & {
        color: #6a8759;
    }
}

// 引用块
blockquote {
    border-color: #ddd;
    border-left-width: 5px;
    background-color: #f2f3f5;

    html[data-theme="dark"] & {
        border-color: #333;
        background-color: #161616;
    }
}
