// 选中文字背景色跟随主题
*::selection {
    color: var(--vp-c-accent);
    background-color: var(--vp-c-accent-soft);
}

// 行内代码背景色跟随主题
:not(pre) > code {
    background-color: var(--vp-c-accent-soft);
}

// 引用块
blockquote {
    border-color: #ddd;
    border-left-width: 5px;
    background-color: #f2f3f5;
    border-radius: 6px;

    html[data-theme="dark"] & {
        border-color: #333;
        background-color: #222;
    }
}

// 代码块中的横向滚动条，增加 hover 背景
pre::-webkit-scrollbar {
    // &-track { } 无效

    &-thumb {
        &:hover {
            background-color: var(--vp-c-accent);
        }
    }
}

// katex tagref 滚动定位修正
:root {
    // 滚动到目标的顶部偏移距离 3.75rem + 1.05rem = 4.8rem
    --offset-top: calc(var(--navbar-height) + 1.05rem);
}

// 有用但是作用在了其他元素 https://developer.mozilla.org/zh-CN/docs/Web/CSS/scroll-margin-top
// html {scroll-padding-top: 4.5em;}
.base > span.enclosing[id^="tag-"] {
    // https://stackoverflow.com/questions/4086107#26214572
    padding-top: var(--offset-top);
    margin-top: calc(0 - var(--offset-top));
}

// todo 解决移动端公式编号位置问题
// .katex-display > .katex > .katex-html > .tag {
//     overflow: hidden;
// }

// 自定义锚点滚动定位修正
#markdown-content p > a[id],
#markdown-content p > a[name] {
    padding-top: var(--offset-top);
    margin-top: calc(0 - var(--offset-top));
    visibility: hidden;

    &:before {
        // 用于观察
        content: "m";
        margin-left: -1em;
    }
}

// 正文链接 hover 背景色
#markdown-content p > a {
    padding: 4px 1px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--vp-c-accent-soft);
        text-decoration: none; // 去掉默认的下划线
    }
}

// 去掉边框
iframe {
    border: none;
}
