@font-face {
    font-family: "iconfont"; /* Project id 3302487 */
    src: url("/assets/font/iconfont.woff2?t=1657426703906") format("woff2"),
        url("/assets/font/iconfont.woff?t=1657426703906") format("woff"),
        url("/assets/font/iconfont.ttf?t=1657426703906") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-collection:before {
    content: "\e71d";
}

.icon-tip_off:before {
    content: "\e610";
}

.icon-reply:before {
    content: "\eb84";
}

.icon-like-fill:before {
    content: "\e86a";
}

.icon-more1:before {
    content: "\e684";
}

.icon-edit:before {
    content: "\e623";
}

.icon-user-center:before {
    content: "\e613";
}

.icon-comments:before {
    content: "\e7cd";
}

.icon-eye:before {
    content: "\e869";
}

.icon-favorites:before {
    content: "\e777";
}

.icon-history:before {
    content: "\e68a";
}

.icon-like:before {
    content: "\e67a";
}

.icon-notice:before {
    content: "\e636";
}

.icon-viewport-wide:before {
    content: "\e836";
}

.icon-app-center:before {
    content: "\e62f";
}

.icon-person-setting:before {
    content: "\e70f";
}

.icon-setting:before {
    content: "\e649";
}

.icon-icon-test:before {
    content: "\e62c";
}

.icon-DarkTheme:before {
    content: "\e65a";
}

.icon-blog-edit:before {
    content: "\e609";
}

.icon-back-top:before {
    content: "\e60f";
}

.icon-archive:before {
    content: "\e6d8";
}

.icon-search:before {
    content: "\e67d";
}

.icon-bars:before {
    content: "\e601";
}

.icon-content:before {
    content: "\e60e";
}

.icon-recent:before {
    content: "\e62e";
}

.icon-down:before {
    content: "\e6c3";
}

.icon-person:before {
    content: "\e612";
}

.icon-date:before {
    content: "\e657";
}

.icon-timer:before {
    content: "\e600";
}

.icon-qq:before {
    content: "\e646";
}

.icon-github:before {
    content: "\e63a";
}

.icon-wechat:before {
    content: "\e607";
}

.icon-gitee:before {
    content: "\e60d";
}

.icon-moon:before {
    content: "\e67c";
}

.icon-sun:before {
    content: "\e697";
}

.icon-categoryselected:before {
    content: "\e60c";
}

.icon-svgwrite:before {
    content: "\e650";
}

.icon-tags:before {
    content: "\e730";
}

.icon-more:before {
    content: "\e66c";
}

.icon-timeline:before {
    content: "\e6c0";
}

.icon-home:before {
    content: "\e733";
}
