img[src*="#s"] {
    width: auto;
    height: auto;
}

@mixin image-size($size: 100) {
    img[src*="#s-#{$size}"] {
        max-width: #{$size + "%"}; // 或者用 zoom
    }
}

@for $i from 5 through 100 {
    @if ($i % 5==0 or $i==66 or $i==67) {
        #app {
            @include image-size($i);
        }
    }
}

// 通过 alt 来设置图片居中
img[alt*="center"] {
    display: block;
    margin: 0 auto;
}

// 图片与文字底部对齐
p img {
    display: inline-block;
    vertical-align: text-bottom;
}

// 设置图片为默认居中
p > img:only-child.center {
    // 需要配合 js 处理，因为 css 没法区分文本结点
    // 当 p 标签中只有唯一 img 才居中，否则为行内图片，不应处理
    display: block;
    margin: 0 auto;
}

// todo 用 js onload 事件实现
@for $i from 60 through 800 {
    @if ($i % 20==0) {
        img[alt*="|#{$i}"] {
            width: #{$i}px;
        }
    }
}
