img[src*="#s"] {
    width: auto;
    height: auto;
}

@mixin image-size($size: 100) {
    img[src*="#s-#{$size}"] {
        max-width: #{$size + "%"}; // 或者用 zoom
    }
}

#app {
    @for $i from 5 through 100 {
        @if $i % 5==0 {
            @include image-size($i);
        }
    }

    // 特殊值
    $special-values: 33, 48, 49, 66, 67;

    @each $val in $special-values {
        @include image-size($val);
    }
}

// 1.段落只有图片时默认居中，否则为行内图片；但由于 css 无法区分文本结点，配合 js 恢复为行内块
// 2.通过设置 alt 包含 "center" 来设置图片居中
p > img:only-child,
img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// 图片与文字底部对齐
p img {
    display: inline-block;
    vertical-align: text-bottom;
}

// todo 用 js onload 事件实现
@for $i from 60 through 800 {
    @if ($i % 20==0) {
        img[alt*="|#{$i}"] {
            width: #{$i}px;
        }
    }
}
