// https://v2.vuepress.vuejs.org/zh/guide/migration.html#调色板系统变更
// https://ecosystem.vuejs.press/zh/themes/default/styles.html

// responsive breakpoints
$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

// https://fonts.zeoseven.com/items/292/#embed
// medium 比原版略粗一点，看起来更顺眼
// @import url("https://fontsapi.zeoseven.com/292/main/result.css");
@import url("https://fontsapi.zeoseven.com/292/medium/result.css");

$vp-font: "LXGW WenKai Medium, LXGW WenKai, sans-serif";
$vp-font-heading: $vp-font;

// @vuepress/helper/lib/client/styles/normalize.css 设置了 `font-synthesis: style;` 导致落霞孤鹜字体无法加粗
body #app {
    font-synthesis-weight: auto;
}
