// 充满分类空白区域
.category-list-wrapper {
    .category:not(a) {
        padding: 0;
    }

    a {
        display: inline-block;
        padding: 0.4rem 0.8rem;
    }
}

// beta.200 左右改成了 18px
@media (min-width: 1440px) {
    body {
        font-size: 16px !important;
    }
}
